%html
  %h1 WebPageTest Stats
  %body
    %script{type: "text/javascript",
            src: "http://www.google.com/jsapi"}
    %script{type: "text/javascript",
            src: "/static/jquery-2.1.1.min.js"}
    %script{type: "text/javascript",
            src: "/static/charts.js"}
    %div#root
